<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Tienda de Ropa</title>
</head>

<body>
  <header>
    <div class="top-banner">
      <a href="../">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/022/927/275/small/clothing-store-logo-design-inspiration-cloth-shop-logo-clothes-logo-illustration-vector.jpg" alt="" class="img-container">
    </div></a>
    <div class="top-nav-bar">
      <div class="clasificaciones">
        <a href="">Hombres</a>
        <a href="">Mujeres</a>
        <a href="">Niños</a>
        <a href="">Accesorios</a>
      </div>
      <div class="right-header">
        <div class="search-bar">
          <input type="text" placeholder="Search..">
        </div>
        <div class="user-profile">
          <a href=""></a>
        </div>
      </div>
    </div>
  </header>

  <% if (prenda) { %>
  <div class="contenedor-prenda">
    
    <div class="imagen-prenda">
      <img src="<%= prenda.image %>" alt="" class="img-container">
    </div>
    <div class="info">
      <h1><%= prenda.name %></h1>
      <strong><%= prenda.price %> MXN</strong>
      <div class="descripcion">
        <p><%= prenda.description %></p>
      </div> 
      <div class="tallas">
        <button class="btn btn-primary"><b>S</b></button>
        <button class="btn btn-primary">M</button>
        <button class="btn btn-primary">L</button>
        <button class="btn btn-primary">XL</button>
      </div>
      <p><b>cantidad disponible:</b> <%= prenda.stock %></p>
      <div class="carrito">
        <button class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
    
  </div>
  <% } %>
  <footer>

  </footer>
</body>
</html>